language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "pypy"
env:
  - PYTHONDONTWRITEBYTECODE=1
# command to install dependencies
install:
  - "pip install ."
# command to run tests
script:
  - py.test -v
  - ./test_running_tutorial.sh
